<html>
<head>
    <title>DemoApp1</title>
</head>

<body style ="background-color:rgb(104, 117, 79) ;color: rgb(8, 8, 8);">
    <h1>Hello @Model.VisitorName</h1>
    <p>
        <b>Number of Greetings</b>@Model.GreetCount
    </p>
</body>
</html>