<html>
    <head>
        <title>DemoApp1</title>
    </head>
<body>
    <form method="post">
      <p>
        <b>Enter the Name:</b>
        <input type="text" name="visitorId">
      </p>

      <p>
        <b>Enter the Rating:</b>
        <select name="visitorRating">
            <option value="5">Great</option>
            <option value="4">Good</option>
            <option value="3">Average</option>
            <option value="2">Bad</option>
            <option value="1">Terrible</option>
            </select>
            </p>
            <p>
                <input type="submit" value="Submit">
            </P>
      </p>
    </form>
    <a href="/Home/Index">Our Visitors</a>
</body>
</html>